.top-content {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1:after {
    left: calc(50% - 30px);
}

a {
    color: #1F5673;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.content-1 {
    background-color: #1F5673;
    color: #ffffff;
}

.content-2 {
    background-color: #E8E7DE;
    color: #1F5673;
}

.content-3 {
    background-color: #F9F9F4;
    color: #1F5673;
}

.profile-image{
    width: 20%;
}

